@using Resource = SportPredictionsSystem.Web.Resources.Home.Home

@{
    ViewBag.Title = "About";
}
<h2>@Resource.Test</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
